{% extends 'employee/base.html' %}
{% block body %}
<title>{% block title %}เพิ่มรายชื่อพนักงาน{% endblock %}</title>
<br>
<div class="container">
    <div class="p-3 mb-2  text-danger">

    <center><h1>เพิ่มรายชื่อพนักงาน</h1></center>
    </div>
<form method="post">{% csrf_token %}
    {% include 'employee/form-template.html' %}
    <br><button type="submit" class="btn btn-success">Save</button>
    <a class="btn btn-secondary" href="{% url 'employee:index' %}">Cancel</a>
</form><br>

</div>
{% endblock %}