{% extends 'employee/base.html' %}
{% block body %}
<title>{% block title %}ประวัติการลา{% endblock %}</title>
<div class="container">
<div class="p-3 mb-2  text-danger"><br>
    <center> <h1>รายชื่อพนักงานขอลาพักร้อน</h1></center><br>
     </div>
    {% if all_annual %}
    {% for annual in all_annual %}
    <a class="text-primary" href="{% url 'employee:detail_annual' annual.id %}">{{ annual.employee }}&nbsp&nbsp-&nbsp&nbsp&nbsp{{ annual.reason }} </a><br><br>
    <form action="{% url 'employee:annual-delete' annual.id %}" method="post">
            {% csrf_token %}
        <button type="submit" class="btn btn-danger">ลบรายชื่อ</button>
    </form><br>
    {% endfor %}
    {% else %}
    <h3>ไม่มีรายชื่อในระบบ</h3>
    {% endif %}
</div>

{% endblock %}


























